<template id="order_history">
    <style> @import 'static/components/order_history/order_history.css';</style>

    <div class="order_history">
        <p class="order_history__title">
            Hi <span class="order_history__username">Michael</span>,<br>
            this your order history
        </p>
        <button class="order_history__edit_account-btn">Edit your account</button>

        <div class="order_history__more">
            Show me more items
        </div>
    </div>
</template>