<template id="main-component">
    <style>@import "static/components/main/main.css";</style>
    <div class="offer">
        <h1 class="offer__title">Hazy shade of spring</h1>
        <p class="offer__subtitle">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>

        <button class="offer__check-btn">Check new arrivals</button>
    </div>
    <div class="panel">
        <div class="cell1">
            <p class="cell__title">Heather<br>grey basics</p>
            <p class="cell__subtitle">New arrival</p>
        </div>
        <div class="cell2">
            <img src="static/icons/bird.png"/>
            <p class="cell__quote">Opening Ceremony<br>
                @IndonesiaFW tomorrow,<br>
                PMers! Are you ready for the<br>
                biggest fashion movement in
            </p>
            <p class="cell__quote_author">@PaspitaMarthaID</p>
        </div>
        <div class="cell3"></div>
        <div class="cell4">
            <img class="arrow" src="static/icons/arrow.png">
            <p class="cell__title">Elegant shoes</p>
            <p class="cell__subtitle">Braided leather</p>
        </div>
        <div class="cell5">
            <p class="cell__title">Chuck Taylors</p>
            <p class="cell__subtitle">&#36;125.00</p>
        </div>
        <div class="cell6">
            <img src="static/icons/bird.png"/>
            <p class="cell__quote">
                Girls, Girls, Girls: A Look<br>
                Back at 50 Years of the<br>
                Pirelli Calendar
            </p>
            <p class="cell__quote_author">@Vogue</p>
        </div>
        <div class="cell7">
            <p class="cell__title">Jeans for<br>Adventure</p>
            <p class="cell__subtitle">New arrival</p>
        </div>
        <div class="cell8"></div>
        <div class="cell9">
            <img class="arrow" src="static/icons/arrow.png">
            <p class="cell__title">Jaxon hat</p>
            <p class="cell__subtitle">Beanie hat</p>
        </div>
        <div class="cell10">
            <p class="cell__title">Basic blazer</p>
            <p class="cell__subtitle">From &#36;199.00</p>
        </div>
    </div>
    <div class="sign-up">
        <h1 class="sign-up__title">Hazy shade of spring</h1>
        <p class="sign-up__subtitle">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
        <form action="." class="sign-up__input">
            <input type="email" placeholder="Your e-mail">
            <button>add</button>
        </form>
        <p class="error-email" hidden>Wrong e-mail. Please try again</p>
    </div>
</template>
