<template id="slider">
    <style>@import 'static/components/slider/slider.css';</style>
    <div class="slider">
        <button class="slider__arrow">
            <img src="static/icons/arrow.svg">
        </button>
        <div class="slider__line">
            <img class="slider__img" src="static/imgs/car.jpg">
            <img class="slider__img" src="static/imgs/car1.jpg">
            <img class="slider__img" src="static/imgs/car2.jpeg">
            <img class="slider__img" src="static/imgs/car3.jpg">
            <img class="slider__img" src="static/imgs/car4.jpg">
            <img class="slider__img" src="static/imgs/car5.jpeg">
            <img class="slider__img" src="static/imgs/car6.jpg">
            <img class="slider__img" src="static/imgs/car7.jpg">
        </div>
        <button class="slider__arrow right">
            <img src="static/icons/arrow.svg">
        </button>
    </div>
</template>